<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/general.css">
  <title>ToyHub - Admin - All Products</title>
</head>
<body>
  <% if(isLogged.userLogged && isLogged.userBody.role == "admin") { %>
    <%- include('./partials/panelAdmin.ejs') %>
  <% } %>
  <main class="main ">
    <div class='product-edit-list'>
      <h1 class='product-add-title'>Editar Productos</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Link</th>
          <th>Marca</th>
        </tr>
        <% products.map((product)=>{ %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.category %></td>
            <td>
              <a class="button" href='/products/admin/<%= product.id %>/edit'>Editar</a>
              <form class="form-delete" action='/proucts/admin/<%= product.id %>?_method=DELETE' method='POST'>
                <input class="button" type="submit" value="Eliminar">
              </form>
            </td>
            <td><%= product.brand %></td>
          </tr>  
        <% }) %>
      </table>
    </div>
  </main>
</body>
</html>

<style>

.product-edit-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  background-color: var(--color-light-50);
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.product-edit-list table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.product-edit-list table th{
  background-color: var(--color-blue-dark-950);
  color: var(--color-light-50);
}

.product-edit-list .button{
  display: block;
  width: 50px;
  border: none;
  background-color: var(--color-blue-dark-950);
  text-decoration: none;
  color: var(--color-light-50);
  transition: background-color ease .3s;
  cursor: pointer;
}

.product-edit-list .button:hover{
  background-color: var(--color-light-50);
  color: var(--color-blue-dark-950);
}
</style>