<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/general.css">
  <title>ToyHub - Admin - All Products</title>
</head>
<body>
  <%- include('./partials/panelAdmin.ejs') %>
  <header class="main-header">
    <!-- Logo -->
    <div class="logo-container">
      <a href="/"><img src="/images/logo_toyhub.jpg" alt="Logo de ToyHub" /></a>
    </div>

    <div class="user-cart-container">
      <div class="user-button">
        <button id="menu-user" class="header-button">
          <img src="/images/logos/user-icon.png" alt="/views/register.html">
        </button>
        <% if(user != undefined) { %>
          <div class="menu-content-user" id="menu-content-user">
            <a href="#" class="user-button">Mi perfil</a>
            <a href="#" class="user-button">Configuracion</a>
            <a href="/user/logout" class="user-button">Cerrar sesión</a>
          </div>
        <% }else{ %>
          <div class="menu-content-user" id="menu-content-user">
            <a href="/user/login" class="user-button">Iniciar sesión</a>
            <a href="/user/register" class="user-button">Registrarse</a>
          </div>
        <% }%>
      </div>
    </div>
  </header>
  <main class="main ">
    <div class='product-edit-list'>
      <h1 class='product-add-title'>Editar Productos</h1>
      <table>
        <tr class="row-product-column">
          <th>ID</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Marca</th>
          <th>Link</th>
        </tr>
        <% products.map((product)=>{ %>
          <tr class="row-product-value">
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.category.name %></td>
            <td><%= product.brand.name %></td>
            <td>
              <a class="button" href='/products/admin/<%= product.id %>/edit'>Editar</a>
              <form action='/products/admin/<%= product.id %>?_method=DELETE' method='POST'>
                <input class="button button-delete" value="Eliminar">
              </form>
            </td>
          </tr>  
        <% }) %>
      </table>
    </div>
  </main>
</body>
<script>
  const btnMenuUser = document.getElementById("menu-user");

  function toggleMenu(menu) {
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

  // Función para desplegar el menú de usuario
  btnMenuUser.addEventListener("click", () => {
    let menu = document.getElementById("menu-content-user");
    toggleMenu(menu);
  });
</script>

</html>

<style>

  .product-edit-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    padding: 15px;
    background-color: var(--color-light-50);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  }

  .product-edit-list table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .product-edit-list table .row-product-column th{
    background-color: var(--color-blue-dark-950);
    color: var(--color-light-50);
    padding: 10px;
  }

  .product-edit-list table .row-product-value td{
    padding: 10px;
    border-bottom: 1px solid var(--color-blue-dark-950);
  }

  
  .product-edit-list .button{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--color-blue-dark-950);
    text-decoration: none;
    color: var(--color-light-50);
    transition: background-color ease .3s;
    cursor: pointer;
  }
  
  .product-edit-list .button-delete{
    background-color: var(--color-red-600);
    text-align: center;
    font-weight: bold;
  }

  .product-edit-list .button:hover{
    background-color: var(--color-light-50);
    color: var(--color-blue-dark-950);
  }
</style>