<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/general.css" />
    
    <title>ToyHub</title>
  </head>
  <body>
    <% if(isLogged.userLogged && isLogged.userBody.role == "admin") { %>
      <%- include('./partials/panelAdmin.ejs') %>
    <% } %>
    <%- include('./partials/header.ejs')  %>
  <!-- Seccion del MAIN -->
    <main class="main main-home">
      <section class="slider-container">
        <ul class="slider">
          <li id="slide1">
            <div class="slide-text">
              <h1>¡DISFRUTA DE LAS MEJORES OFERTAS!</h1>
            </div>
            <img
              src="/images/slider-images/las-mejores-ofertas.webp"
              alt="Imagen 1"
            />
          </li>
          <li id="slide2">
            <div class="slide-text">
              <h1>FIGURAS DE COLECCION ¡UNICAS!</h1>
            </div>
            <img
              src="/images/slider-images/figuras-coleccionables-y-únicas.webp"
              alt="Imagen 2"
            />
          </li>
          <li id="slide3">
            <div class="slide-text">
              <h1>LAS MEJORES MARCAS</h1>
            </div>
            <img
              src="/images/slider-images/los-mejores-muñecos.webp"
              alt="Imagen 3"
            />
          </li>
        </ul>
  
        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
        </ul>
      </section>
      <section class="services-container">
        <div class="service">
          <i class="fa-solid fa-truck fa-2xl"></i>
          <div class="service-text">
            <p>Envíos GRATIS a todo el país</p>
          </div>
        </div>
        <div class="service">
          <i class="fa-solid fa-credit-card fa-2xl"></i>
          <div class="service-text">
            <p>Aceptamos muchos medios de pago</p>
          </div>
        </div>
        <div class="service">
          <i class="fa-solid fa-calendar-days fa-2xl"></i>
          <div class="service-text">
            <p>Pagos en 12 y hasta en 18 cuotas</p>
          </div>
        </div>
      </section>
      <section class="products-container">
        <h2 class="title">Te van a encantar</h2>
        <div class="products-list">
          <% products.map((product)=>{ %>
            <a class="product" href="/products/<%=product.id%>">
              <div>
                <img
                  src="/images/products/<%=product.img%>"
                  alt="<%= product.name %>"
                />
                <h3 class="product-name"><%= product.name %></h3>
              </div>
              <div>
                <p class="product-price"><strong>ARS</strong>$<%= product.price %></p>
                <p class="product-dues"><%= product.share %> cuotas de $<%= product.dues %></p>
                <button class="product-button add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                <button class="product-button buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
              </div>
            </a>
          <% }) %>
        </div>
        <button class="view-more-button">VER MAS</button>
      </section>
      <section class="sponsors-container">
          <h2 class="title">Nuestras marcas</h2>
          <div class="sponsor-list">
            <% marcas.map((marca)=>{ %>
              <div class="sponsor">
                <img class="sponsor-image" src="/images/sponsors/<%= marca.img %>" alt="logo-sega">
                <span class="sponsor-name"><%= marca.name %></span>
              </div>
            <% }) %>
          </div>
      </section>
    </main>
  <!-- Fin de la seccion del MAIN -->
    <%- include('./partials/footer.ejs')  %>
  </body>

</html>
