<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/login.css" />
  <title>ToyHub - Login</title>
</head>

<body class="body-login">
    <!-- Seccion del HEADER -->
    <main class="main-login">
      <form class="form-login" action="/user/login" method="POST">
        <div class="form-logo">
          <img src="/images/logo_toyhub.jpg" alt="ToyHub" />
        </div>
        <h1 class="form-title">Iniciar Sesion</h1>
        <div class="form-login-groups">
          <% if(locals.errors && errors.msg) { %>
            <span class="error-message"><%= errors.msg %></span>
          <% } %>
          <div class="form-group">
            <input type="email" id="email" name="email" value="<%= (locals.oldData && oldData.email) ? oldData.email : '' %>" />
            <label for="email">Email</label>
            <% if(locals.errors && errors.email) { %>
              <span class="error-message"><%= errors.email.msg %></span>
            <% } %>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" value="<%= (locals.oldData && oldData.password) ? oldData.password : '' %>" />
            <label for="password">Contraseña</label>
            <% if(locals.errors && errors.password) { %>
              <span class="error-message"><%= errors.password.msg %></span>
            <% } %>
          </div>
        </div>
        <div class="form-help">
          <a class="recover-password" href="#">¿Olvidaste tu contraseña?</a>
          <label for="remember-me">
            Recordarme
            <input type="checkbox" name="remember-me" id="remember-me" />
          </label>
        </div>
        <div>
          <input type="submit" value="Iniciar Sesion" />
          <span> or </span>
          <a class="button-return" href="/"><i class="fa-solid fa-house"></i></a>
        </div>
      </form>
    </main>
</body>

</html>