<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/general.css">
  <link rel="stylesheet" href="/styles/productDetail.css" />
  <title>ToyHub - Detalles el Producto</title>
</head>

<body>

  <%- include('./partials/header.ejs')  %>
  <% if(user != undefined && user.role == "admin") { %>
    <%- include('./partials/panelAdmin.ejs') %>
  <% } %>
  <main class="main main-product-detail">
    <section class="product-detail-container">
      <div class="presentation-images">
        <figure>
          <img src="/uploads/photosProducts/<%= product.images[1] %>" alt="producto1" />
        </figure>
        <div class="miniature-images">
          <% if(product.images.length > 1){ %>
            <% product.images.map((image, index)=>{ %>
              <img src="/uploads/photosProducts/<%= image %>" alt="producto<%= index + 1 %>" />
            <% }) %>
          <% } %>
        </div>
      </div>
      <div class="product-detail">
        <div class="product-detail-top">
          <h2><%= product.name %></h2>
          <h3>Descripcion</h3>
          <p class="description">
            <%= product.description %>
          </p>
        </div>
        <div class="product-detail-bottom">
          <div class="product-add-price">
            <div class="product-add">
              <button>
                <i class="fa-solid fa-circle-minus fa-2xl"></i>
              </button>
              <span class="product-count"> 5 </span>
              <button>
                <i class="fa-solid fa-circle-plus fa-2xl"></i>
              </button>
            </div>
            <div class="product-price">
              <p>$<%= product.price %></p>
              <p>en <%= product.share %> cuotas de $<%= product.dues %></p>
            </div>
          </div>
          <div class="product-detail-buttons">
            <button class="add-button">
              AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i>
            </button>
            <button class="buy-button">
              COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="similar-products-container">
      <h2>Quizas te interesen estos productos</h2>
      <div class="similar-products">
        <% productsRecommended.map((otherProduct)=>{ %>
          <% if(otherProduct.category == product.category && otherProduct.name !== product.name){ %>
                <a class="product" href="/products/<%=otherProduct.id%>">
                  <img
                    src="/uploads/photosProducts/<%=otherProduct.images[0]%>"
                    alt="<%= otherProduct.name %>"
                  />
                  <div class="product-bottom">
                    <div class="product-info">
                      <h3 class="name"><%= otherProduct.name %></h3>
                      <p class="price"><strong>ARS</strong>$<%= otherProduct.price %></p>
                      <p class="dues"><%= otherProduct.share %> cuotas de $<%= otherProduct.dues %></p>
                    </div>
                    <div class="product-button">
                      <button class="add">AÑADIR AL CARRO <i class="fa-solid fa-cart-shopping fa-xl"></i></button>
                      <button class="buy">COMPRAR <i class="fa-solid fa-basket-shopping fa-xl"></i></button>
                    </div>
                  </div>
                </a>
          <% } %>
        <% }) %>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>