<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/general.css" />
  <link rel="stylesheet" href="/styles/productEdit.css" />
  <title>ToyHub - Editar Producto</title>
</head>

<body>
    <%- include('./partials/panelAdmin.ejs') %>
    <header class="main-header">
      <!-- Logo -->
      <div class="logo-container">
        <a href="/"><img src="/images/logo_toyhub.jpg" alt="Logo de ToyHub" /></a>
      </div>
  
      <div class="user-cart-container">
        <div class="user-button">
          <button id="menu-user" class="header-button">
            <img src="/images/logos/user-icon.png" alt="/views/register.html">
          </button>
          <% if(user != undefined) { %>
            <div class="menu-content-user" id="menu-content-user">
              <a href="#" class="user-button">Mi perfil</a>
              <a href="#" class="user-button">Configuracion</a>
              <a href="/user/logout" class="user-button">Cerrar sesión</a>
            </div>
          <% }else{ %>
            <div class="menu-content-user" id="menu-content-user">
              <a href="/user/login" class="user-button">Iniciar sesión</a>
              <a href="/user/register" class="user-button">Registrarse</a>
            </div>
          <% }%>
        </div>
      </div>
    </header>
    <main class='main main-product'>
      <section class='product-edit-container'>
        <div class='product-edit-card'>
          <form class="form-products" action='/products/<%= product.id  %>?_method=PUT' method='POST'>
            <img src='/uploads/photosProducts/<%= product.images[0].name %>' alt='<%= product.name %>' />
            <h3>ID: <%= product.id%></h3>
            <h1 class='product-edit-title'>Editar Producto</h1>
            <div class='product-edit-form-group'>
              <label for='name'>Nombre</label>
              <input type='text' id='name' name='name' value='<%= product.name %>' required />
            </div>
            <div class='product-edit-form-group'>
              <label for='price'>Precio</label>
              <input type="number" id='price' name='price' value='<%= product.price %>' required />
            </div>
            <div class='product-edit-form-group'>
              <label for='stock'>Stock</label>
              <input type='number' id='stock' name='stock' value='<%= product.stock %>' required />
            </div>
            <div class='product-edit-form-group'>
              <label for='share'>Cantidad de cuotas</label>
              <input type='number' id='share' name='share' value='<%= product.share %>' required />
            </div>
            <div class='product-edit-form-group'>
              <label for='brand'>Marca</label>
              <input type='text' id='brand' name='brand' value='<%= product.brand.name %>' required />
            </div>
            <div class='product-edit-form-group'>
              <label for='description'>Descripción</label>
              <textarea id='description' name='description' required><%= product.description %></textarea>
            </div>
            <div class='product-edit-form-group'>
              <label for='category'>Categoría</label>
              <select id='category' name='category' required>
                <option value='1' <%= product.category == 1 ? 'selected' : '' %>>Peluche</option>
                <option value='2' <%= product.category == 2 ? 'selected' : '' %>>Figura de accion</option>
                <option value='3' <%= product.category == 3 ? 'selected' : '' %>>Muñeca/o</option>
              </select>
            </div>
            <div class='product-edit-form-group'>
              <label for='img'>Imagen</label>
              <input type='file' id='img' name='img' accept='image/*'/>
            </div>

            <div class='product-edit-form-actions'>
              <button type='submit' class='btn btn-primary'>Guardar</button>
              <button type='reset' class='btn btn-primary'><a href='/products/admin/allproducts'>Cancelar</a></button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
  <script>
    const btnMenuUser = document.getElementById("menu-user");
  
    function toggleMenu(menu) {
      if (menu.style.display === "block") {
        menu.style.display = "none";
      } else {
        menu.style.display = "block";
      }
    }
  
    // Función para desplegar el menú de usuario
    btnMenuUser.addEventListener("click", () => {
      let menu = document.getElementById("menu-content-user");
      toggleMenu(menu);
    });
  </script>
</html>